html, body {
height:100%;
width: 100%;
margin:0;
padding:0;
}
.carousel, .item, .active {
height:100%;
}
.carousel-inner {
height:100%;
}
.carousel-caption {
z-index: 10;
}
.carousel .item {
background-color: #777;
}
.carousel .carousel-inner .bg {
background-repeat:no-repeat;
background-size:cover;
}
.carousel .carousel-inner .bg1 {
background-image:url(images/laptop.jpg);
background-position: center left;
}
.carousel .carousel-inner .bg2 {
background-image:url(images/amazing.jpg);
background-position: center center;
}
.carousel .carousel-inner .bg3 {
background-image:url(images/laptop.jpg);
background-position: center bottom;
}

.main-Coming-Soon-Block {
  background-image:url(images/laptop.jpg) no-repeat center center fixed;
}

body {
  font-weight: 400;
}

header {
  height: 50px;
  position: right;
  float: center;
  margin-left: 30%!;
  margin-right: 30%!;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

.main-nav {
  float: right;
}

.main-nav li {
  display: inline;
  padding-top: 10px;
}

.section.active {
  text-decoration: underline;
}


.icon_social {
  background-color: blue;
}

.circle-text {
  width: 50%;
}


.circle-text:after {
  content:"";
  display:block;
  width:100%;
  height: 0;
  padding-bottom: 100%;
  background: #4679BD;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.circle-text div {
  float: left;
  width: 100%;
  padding-top: 100%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align:center;
  color: #FFFFFF;
}

#about-block {
  margin-top: -260px;
  width: 100%;
  height: 425px;
  background-color: #FFFFFF;
  text-align: center;
  padding-left: 6em;
  padding-right: 6em;
}

.topheadersquares {
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 2px;
}

#work-photos {
  width: 100%;
}

#work-photos ul li img{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#work-photos ul li {
  list-style: none;
  margin-bottom: 0px;
}

#work-photos ul li img {
  cursor: pointer;
  width: 100%;

}

.blog-link-section{
  background:url(images/cloud-small.jpg) no-repeat fixed center top / cover rgba(0, 0, 0, 0);
  padding:0;
}

.section-header {
  text-align: center;
  color: #000000;
}

.light {
  background-color: #FFFFFF;
      -webkit-box-shadow: 0px 0px 4px 1px #D0D0D0;
       -moz-box-shadow: 0px 0px 4px 1px #D0D0D0;
            box-shadow: 0px 0px 4px 1px #D0D0D0;
}

.black{
  color: #000000;
}

.black :hover {
  color: #000000;
  text-decoration: underline;
}

.white {
  color: #FFFFFF;
}

.white :hover {
  color: #000000;
}

.headerNav {
  font-size: 12px;
  font-weight: 700;
}

.navbar div ul li a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #FFFFFF;
}


#mainTitle a button {
  text-decoration: none;
}


#socialNetworks {
  text-decoration: none;
  color: #FFFFFF;
  height: 100px;
  text-align: center;
}

#socialNetworks :hover{
  opacity: 1;
}

.titleBlock {
  color: #FFD700;
  font-weight: 100;
  text-align: center;
  padding-bottom: 1em;
}

.circle {
  width: 75px;
  height: 75px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 100px;
  border: 3px solid #FFFFFF;
  display: inline-block;
  margin-left: 25px;
}


.circle-info i{
  padding-top: 35%;
  color: #FFFFFF;
}

.circle-info :hover {
  color: #0099FF;
  transition-duration: 0s;
}

#random-facts {
  height: 200px;
  width: 100%;
  color: #B8B8B8;
  text-align: center;
  padding-top: 3em;
}

#random-facts div h1 {
  font-weight: 300;
}

#random-facts div p {
  font-size: 15px;
  letter-spacing: -1px;
  margin-top: -10px;
}


#stretch{
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 200;
  line-height: 22px;
  text-align: left;
}

#skills {
  height: 500px;
  padding-top: 3em;
  background-color: #F8F8F8;
}

.skills-circle {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
  font-size: 30px;
  color: #0099FF;
  line-height: 75px;
  text-align: center;
  background: #B0B0B0;
  margin-top: 15px;
}


.photo-block {
  margin-left: auto;
  margin-right: auto;
}

.NOPADDING {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ordered {display: inline;}
.footer-block {margin-top: 20px;padding-top: 1em;font-weight: 200;}
.resume-button {text-decoration: none;padding: 10px;border: 2px solid #333333 !important;background-color: #F0F0F0 !important;}

