html, body {
  height:100%;
  width: 100%;
  margin:0;
  padding: 0;
}
.carousel, .item, .active {
  height:100%;
}
.carousel-inner {
  height:100%;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #777;
}

.carousel .carousel-inner .bg {
  background-repeat:no-repeat;
  -webkit-transition: 1.5s ease-in-out left;
  transition: 1.5s ease-in-out left;
  -webkit-transition: 1.5s, ease-in-out, left;
  -moz-transition: 1.5s, ease-in-out, left;
  -o-transition: 1.5s, ease-in-out, left;
  transition: 1.5s, ease-in-out, left;
  background-size:cover;
}
.carousel .carousel-inner .bg1 {
  background-image:url(images/tyler-main-2.jpg);
  background-position: left top;
  background-attachment : fixed;
}


.carousel .carousel-inner .bg2 {
  background-image:url(images/image1.jpg);
  background-position: center center;
  background-attachment : fixed;
}
.carousel .carousel-inner .bg3 {
  background-image:url(images/IMG_0334.jpg);
  background-position: center left;
  -webkit-filter: grayscale(1) invert(0.1);
  background-attachment : fixed;
}
.navbar {
}

.navbar-extra {
  margin-top:0px;
  border: 1px;
}

#menu-list ul {
  float: right;
  margin-right: 10%;
}

body {
  font-weight: 400;
}

header {
  height: 50px;
  position: right;
  float: center;
  margin-left: 30%!;
  margin-right: 30%!;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

.main-nav {
  float: right;
}

.main-nav li {
  display: inline;
  padding-top: 10px;
}

.icon_social {
  background-color: blue;
}

.circle-text {
  width: 50%;
}

.circle-text:after {
  content:"";
  display:block;
  width:100%;
  height: 0;
  padding-bottom: 100%;
  background: #4679BD;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.circle-text div {
  float: left;
  width: 100%;
  padding-top: 100%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align:center;
  color: #FFFFFF;
}

#about-block {
  width: 100%;
  background-color: #FFFFFF;
  text-align: center;
  padding: 4em 20% 4em 20%;
}

.paragraph-align {
  width: 100%;
  text-align: center;
  padding-right: 30% !important;
  padding-left: 30% !important;
  background-color:#027673;
  color:#FFFFFF;
}

.paragraph-align h1 {
  margin-top: 0 !important;
}

/*
#20B2AA
*/

.topheadersquares {
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-left: 2px;
}


.blog-link-section {
  width:100%;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #4682B4;
}

.section-header {
  text-align: center;
  color: #000000;
}

.light {
  background-color: #FFFFFF;
      -webkit-box-shadow: 0px 0px 4px 1px #D0D0D0;
       -moz-box-shadow: 0px 0px 4px 1px #D0D0D0;
            box-shadow: 0px 0px 4px 1px #D0D0D0;
}

.black{
  color: #000000;
}

.black :hover {
  color: #000000;
  text-decoration: underline;
}

.white {
  color: #FFFFFF !important;
}

.white :hover {
  color: #000000;
}



.headerNav {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.navbar div ul li a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #bb3131;
}

.color-block-logo-padding{
  padding-left: 1em;
  padding-top: 1em;
}

.frost {
  text-decoration: underline;
  color: #bb3131;
}

.git-section {
  padding-bottom: 2em;
  color: #F2F2F2;
  text-align: center;
}

#code-link {
  color: #027673 !important;
}

#mainTitle {
  position: relative;
  top:-70%;
  color: white;
  text-align: right;
  margin-right: 12%;
  margin-bottom: -240px;
}

#mainTitle h1 {
  font-weight: 100;
  font-size: 64px;
  letter-spacing: 0.75px;
}

#mainTitle h2 {
  font-weight: 300; color: #888888;
}


#mainTitle a button {
  text-decoration: none;
}


#socialNetworks {
  text-decoration: none;
  color: #FFFFFF !important;
  text-align: center;
}



.titleBlock {
  color: #FBB039;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: center;
  padding-bottom: 1em;

}

.quote-block {
  width:100%;
  text-align:center;
  padding: 10%;
}

.quote-line {
  padding-top: 30px;
  color: #F8F8F8;
  font-weight: 100;
  line-height: 40px;
}

.quote-person {
  padding-bottom: 30px;
  color: #228B22;
  font-weight: 100;
}

 .quote-block-1 {
  background-image:url(images/desk.jpg);
  background-color: #D8D8Bf;
  background-position: center;
  background-repeat: no-repeat;
 }

 .quote-border-1 {
    border: 5px solid #FFFFFF;
    background: rgba(0,0,0,0.5);
 }

 .quote-block-2 {
  width:100%;
  background-color: #ee7942;
 }

 .quote-border-2 {
 border: 5px solid #FFFFFF; background: transparent;
 }

.circle {
  width: 75px;
  height: 75px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 100px;
  border: 3px solid #FFFFFF;
  display: inline-block;
  margin-left: 25px;
  color: #FFFFFF !important;
}


#circle-info i{
  padding-top: 35%;
}

.hover-blue {
  color:#4682B4 !important;
  -webkit-transition-duration:0.25s;
  transition-diration:0.25s;
}




#random-facts {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  padding: 4em;
}

#random-facts div h1 {
  font-weight: 300;
  letter-spacing: 4px;
  color: #7c8483;
}
/*
color: #7c8483; - grey
*/

#random-facts div p {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: -11px;
  color: #c77f25;
}


#stretch{
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 200;
  line-height: 22px;
  text-align: left;
}

#skills {
  background-color: #F8F8F8;
  width: 100%;
  padding: 4em 0 3em 0;
}

.skills-circle {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
  font-size: 30px;
  color: #F8F8F8;
  line-height: 75px;
  text-align: center;
  background: #4682B4;
  margin-top: 25%;
}


.photo-block {
  margin-left: auto;
  margin-right: auto;
}

.NOPADDING {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ordered {
  display: inline;
}

.footer-block {
  margin-top: 20px;
  padding-top: 3em;
  font-weight: 200;
  height: 250px;
}

.resume-button {
  padding: 10px;
  border: 2px solid #333333 !important;
  background-color: #FFFFFF;
}

.resume-button :hover {
  background-color: #393939 !important;
}

#modal-content p{
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}





#getintouch {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

/*
CSS for email form below
*/

#getintouch input, textarea {
  height: 40px;
  width: 100%;
  background: #efefef;
  border: 1px solid #efefef;
  padding: 7px;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 1em;
  color: #3a3a3a;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#getintouch textarea {
  height: 150px;
  resize: none;
  overflow:auto;
}

#getintouch input:focus, textarea:focus {
  outline: none;
}

#submit {
  width: 175px;
  height: 50px;
  background-color: #FBB039;
  color: #FFFFFF;
  border: none;
  margin-top: 20px;
}

#submit:hover {
  opacity: 0.9;
}


.list-unstyled {
  padding-left:0;
  list-style:none;
  font-size: 40px;
  display:inline;
  color:#4D4D4D;
}

.list-unstyled li {
  padding-bottom: 7px;
}

.list-unstyled li h4 {
  line-height: 7px;
  font-weight: 300;
}

.list-unstyled li p {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.twitter-icon {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  width: 50px;
  height: 50px;
  background-color: #6BB0FF;
  margin-bottom: 20px;
  color: #4099FF;
  font-size: 30px;
  line-height: 50px;
}
/*
We need an adjustment with the reSize CSS when the screen is on a tablet
the min-height needs to be somewhere in the 250px range and when it is 1000px and bigger the height needs to be bigger

*/
.work-title-padding {
  padding-top: 2em; padding-bottom: 2em;
}


#work-photos {
  width: 100%;
}

#work-photos ul {
  padding-left: 0;
}

#work-photos ul li img{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#work-photos ul li {
  list-style: none;
  margin-bottom: 0px;
}

#work-photos ul li a img {
  cursor: pointer;
  width: 100%;
  overflow:hidden;
}

.placement-title-modal {
  margin-top:10px; padding:7px !important; min-height: 40px !important;
}

.placement-title-modal div p {
  margin-bottom: 4px !important;
}

.placement-job-title-modal {
  text-align:right;
}

#placement-info-block {
  margin-bottom: 20px;
}

#placement-info-block p {
  text-align:initial;
}

.node-language {
  border: 1px solid green !important; color: green; background: #FFFFFF;
}

.html-language {
  border: 1px solid orange !important; color: orange; background: #FFFFFF;
}

.css-language {
  border: 1px solid red !important; color: red; background: #FFFFFF;
}

.jquery-language {
  border: 1px solid blue !important; color: blue; background: #FFFFFF;
}

.php-language {
  border: 1px solid purple !important; color: purple; background: #FFFFFF;
}

.xml-language {
  border: 1px solid #6B8E23 !important; color: #6B8E23; background: #FFFFFF; margin-bottom: 10px;
}

.ruby-language {
  border: 1px solid red !important; color: red; background: #FFFFFF; margin-bottom: 10px;
}

.objectivec-language {
  border: 1px solid #00688B !important; color: #00688B; background: #FFFFFF; margin-bottom: 10px;
}

.swift-language {
  border: 1px solid #FF2400 !important; color: #FF2400; background: #FFFFFF; margin-bottom: 10px;
}

#photography-modal {
  width: 90%; background-color: #373737 !important;
}

.photography-modal-div {
  background-color: #373737 !important; color: #dadada !important;
}


#placement-link-website {
  margin-top:10px; text-align:center; width: 175px; height: 40px; font-size: 18px; font-weight: 200;
}

#photos-modal {
  margin-bottom: 20px;
}

#photos-modal img {
  width: 100%;
}

#getintouch h1 {
  padding-top: 2em; padding-bottom: 1em;
}

.yellow {
  color:#FBB039;
}

#contact-side {
  text-align: left; padding-left: 70px;
}

#contact-side ul li h4 span {
  font-size: 40px;
}

.contact-side-special {
  font-size: 30px;
}

#twitter-section {
 width:100%; background-color:#4099FF; text-align: center; color: #FFFFFF; padding: 25px 0px 10px 0px;
}

.twitter-post {
  color: #F0F0F0; font-weight: 300;
}

.twitter-date {
  font-weight: 200; opacity: 0.5;
}

.underline-decoration {
  text-decoration: underline;
}



@media(max-width: 519px) {
  #about-block {
    padding-top:5px;
    padding-left: 3%;
    padding-right: 3%;
  }

  #random-facts {
    min-height: 100px;
  }

  .quote-block {
    text-align: left;
  }

  .paragraph-align {
    padding-right: 7% !important;
    padding-left: 7% !important;
  }

  #menu-list ul {
    float: center;
  }

  .footer-block {
    margin-top: 2px;
    padding-top: 2em;
    height: auto;
    padding-bottom: 2em;
  }


}


@media(min-width: 520px) and (max-width: 759px){

  .color-block-logo-padding {
    padding-left: 150px;
  }

  #about-block {
    padding-left: 5%;
    padding-right: 5%;
  }

  .quote-block-1 {
    background-position: center left;
  }

  .quote-block {
    text-align: right;
  }

  .footer-block {
    margin-top: 2px;
    padding-top: 2em;
    height: auto;
    padding-bottom: 2em;
  }



  .paragraph-align {
    padding-right: 15% !important;
    padding-left: 15% !important;
  }

}


@media(min-width: 760px) and (max-width: 959px){
  #reSize{
    max-height:300px;
    min-height:300px;
  }

  .quote-block {
    padding: 20% 2% 10% 2%;
  }

  .paragraph-align {
    padding-right: 20% !important;
    padding-left: 20% !important;
  }

  .footer-block {
    margin-top: 2px;
    padding-top: 2em;
    height: auto;
    padding-bottom: 2em;
  }


}




@media(min-width: 960px) and (max-width: 1399px){
  #reSize{
    height:100%;
  }
  #work-photos ul li a img {
  cursor: pointer;
  width: 100%;
  max-height:250px;
  overflow:hidden;
  }
}

@media(min-width: 1400px) and (max-width: 1600px){
  #reSize{
    max-height:100%;
  }
  #work-photos ul li a img {
  cursor: pointer;
  width: 100%;
  height: 300px;
  overflow:hidden;
  }
}

@media(min-width: 1601px){
  #reSize{
    max-height:100%;
  }
  #work-photos ul li a img {
  cursor: pointer;
  width: 100%;
  height: 400px;
  overflow:hidden;
  }
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}



